doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    include ../../public/jade/mixins.jade
    link(rel="stylesheet" type="text/css" href="styles/main.css")
    link(rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css")
    title #{name}

  body

    .headings
      h1 Welcome #{name}


    .add#js-time
      .headings
        h2 Add Event
      .messages
        if err
          .err
            p #{err}
        if suc
          .suc
            p #{suc}
            button#js-undo(type="button") Undo

      form(action="/user/add_event/#{user_id}", method='post')
        label Activity
        input(type='text', name='activity')#js-add_activity
        br
        label Start time
        input(type='datetime-local', name='start_time')#js-start
        br
        label End time
        input(type='datetime-local', name='end_time')#js-end
        br
        .submit
          button#js-submit_time(type='submit', disabled='disabled') Add time

    .add#js-todo
      .headings
        h2 Add Todo

      form(action="/user/add_todo/#{user_id}", method='post')
        label Activity
        input(type='text', name='activity')#js-todo_activity
        br
        label Estimated time
        input(type='number', name='estimated_time')#js-estimate
        select(name='units')
          option(value='minutes') Minutes
          option(value='hours') Hours
        br
        .submit
          button#js-submit_todo(type='submit', disabled='disabled') Add todo

    .list#js-todo_list
      .headings
        h2 Current Todos
      #js-items

    .delete_user#js-delete
      button#js-delete_user Delete user
      .modal#js-modal
        .modal-box
          h3 Are you sure?
          form(action="/user/delete_user/#{user_id}", method='post')
            button(type='submit') Yes
          button#js-no No

    +scripts
    script(type='text/javascript' src='scripts/main.js')
    script(type='text/javascript' src='http://code.jquery.com/ui/1.11.2/jquery-ui.js')
